stages:
  - lint
  - dependencies
  - build
  - push
  - finalize
  - release

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

variables:
  DOCKERIO_MIRROR: hub.wuhoo.xyz
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo

.cache:
  cache:
    untracked: false
    paths:
      - .cargo/.crates.toml
      - .cargo/.crates2.json
      - .cargo/bin/
      - .cargo/registry/index/
      - .cargo/registry/cache/
      - target/

.lint:
  extends: .cache
  stage: lint
  image: docker.io/library/rust:1.82.0
  before_script:
    - cargo version
    - rustup component add clippy
    - rustup component add rustfmt

.non-release:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: on_success

.release:
  artifacts:
    expire_in: never
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success

lint:clippy:
  extends:
    - .lint
  cache:
    key: clippy
  script:
    - cargo clippy -- -D warnings

lint:format:
  extends:
    - .lint
  cache:
    key: format
  script:
    - cargo fmt -- --check

dependencies:libs:
  stage: dependencies
  image:
    name: docker.io/library/golang:1.23.3-bookworm
  cache:
    paths:
      - .go
  variables:
    CGO_ENABLED: 1
    GOPATH: $CI_PROJECT_DIR/.go
  before_script:
    - mkdir -p .go
    - go version
  script:
    - cd go
    - go mod download
    - go mod verify
    - go build -v -ldflags "-s -w" -trimpath -buildmode=c-archive -o libshoutrrr.a shoutrrr.go
    - cd ..
  artifacts:
    untracked: false
    expire_in: 1 day
    paths:
      - go/libshoutrrr.a
      - go/libshoutrrr.h
    when: on_success

.build_binary:
  extends: .cache
  stage: build
  image: docker.io/library/rust:1.82.0
  needs:
    - lint:clippy
    - lint:format
    - dependencies:libs
  before_script:
    - cargo version
  artifacts:
    untracked: false
    expire_in: 7 days

.build_binary:gnu:
  extends: .build_binary
  script:
    - cargo install --locked --target x86_64-unknown-linux-gnu --path .
    - mv -v ${CARGO_HOME}/bin/${CI_PROJECT_NAME} ${CI_PROJECT_NAME}_x86_64-unknown-linux-gnu
  cache:
    key: gnu
  artifacts:
    paths:
      - ${CI_PROJECT_NAME}_x86_64-unknown-linux-gnu

build:container:
  stage: build
  tags:
    - ${TARGET_ARCH}
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  variables:
    CGO_ENABLED: 0
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  script:
    - >-
      /kaniko/executor
      --registry-mirror "${DOCKERIO_MIRROR}"
      --cache=true
      --cache-repo "${CI_REGISTRY_IMAGE}/build-cache-${TARGET_ARCH}"
      --cache-ttl 168h0m0s
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination=image
      --no-push
      --tarPath image-${TARGET_ARCH}.tar
  artifacts:
    untracked: false
    expire_in: 1 day
    paths:
      - image-${TARGET_ARCH}.tar
    when: on_success
  needs:
    - lint:clippy
    - lint:format
  parallel: &parallel
    matrix:
      - TARGET_ARCH:
          - amd64
          - arm64

build:binary:gnu:
  extends:
    - .build_binary:gnu
    - .non-release

build:binary:gnu:release:
  extends:
    - .build_binary:gnu
    - .release

.push:
  stage: push
  image:
    name: gcr.io/go-containerregistry/crane/debug:v0.15.2
    entrypoint: [""]
  needs:
    - job: build:container
      parallel: *parallel
  parallel: *parallel

push:
  extends: .push
  script:
    - crane auth login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - crane push image.tar ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-${TARGET_ARCH}
    - crane push image.tar ${CI_REGISTRY_IMAGE}:latest-${TARGET_ARCH}
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

push:release:
  extends:
    - .push
    - .release
  script:
    - crane auth login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - crane push image.tar ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}-${TARGET_ARCH}
    - crane push image.tar ${CI_REGISTRY_IMAGE}:stable-${TARGET_ARCH}

finalize-multi-arch:
  stage: finalize
  image:
    name: mplatform/manifest-tool:alpine-v2.1.5
    entrypoint: [""]
  script:
    - >-
      /manifest-tool
      --username ${CI_REGISTRY_USER}
      --password ${CI_REGISTRY_PASSWORD}
      push from-args
      --platforms linux/amd64,linux/arm64/v8
      --template ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-ARCH
      --target ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}
    - >-
      /manifest-tool
      --username ${CI_REGISTRY_USER}
      --password ${CI_REGISTRY_PASSWORD}
      push from-args
      --platforms linux/amd64,linux/arm64/v8
      --template ${CI_REGISTRY_IMAGE}:latest-ARCH
      --target ${CI_REGISTRY_IMAGE}:latest
  needs:
    - job: push
      parallel: *parallel
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

finalize-multi-arch:release:
  extends:
    - .release
  stage: finalize
  image:
    name: mplatform/manifest-tool:alpine-v2.1.5
    entrypoint: [""]
  script:
    - >-
      /manifest-tool
      --username ${CI_REGISTRY_USER}
      --password ${CI_REGISTRY_PASSWORD}
      push from-args
      --platforms linux/amd64,linux/arm64/v8
      --template ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}-ARCH
      --target ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    - >-
      /manifest-tool
      --username ${CI_REGISTRY_USER}
      --password ${CI_REGISTRY_PASSWORD}
      push from-args
      --platforms linux/amd64,linux/arm64/v8
      --template ${CI_REGISTRY_IMAGE}:stable-ARCH
      --target ${CI_REGISTRY_IMAGE}:stable
  needs:
    - job: push:release
      parallel: *parallel

release:
  extends: .release
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:v0.19.0
  needs:
    - build:binary:gnu:release
    - push:release
    - finalize-multi-arch:release
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: './release-notes/$CI_COMMIT_TAG/CHANGELOG.md'
    tag_name: "$CI_COMMIT_TAG"
    ref: "$CI_COMMIT_TAG"
    assets:
      links:
        - name: '${CI_PROJECT_NAME}_x86_64-unknown-linux-gnu'
          url: '$CI_PROJECT_URL/-/jobs/artifacts/$CI_COMMIT_TAG/raw/${CI_PROJECT_NAME}_x86_64-unknown-linux-gnu?job=build:binary:gnu:release'
