services:
  db:
    image: docker.io/library/postgres:17.2-alpine3.20
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: uptimers
      POSTGRES_DB: uptimers
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
